# EmailJS Configuration
# Obtenha suas credenciais em https://www.emailjs.com/
VITE_EMAILJS_SERVICE_ID=seu_service_id
VITE_EMAILJS_TEMPLATE_ID=seu_template_id
VITE_EMAILJS_PUBLIC_KEY=sua_public_key

# Google reCAPTCHA v3
# Obtenha sua chave em https://www.google.com/recaptcha/admin
VITE_RECAPTCHA_SITE_KEY=sua_site_key

